table,
th,
td {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;
    word-break: break-all;
    background-color: white;
}

.POO {
    background-color: rgba(244, 176, 132, 255);
}

.AS {
    background-color: rgba(198, 224, 180, 255);
}

.AI1 {
    background-color: rgba(180, 198, 231, 255);
}

.U {
    background-color: rgba(255, 217, 102, 255);
}

.SO {
    background-color: rgba(0, 176, 240, 255);
}

.smoll {
    width: 60px;
}